body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.motivation {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
  text-align: center;
  display: none;
}

@media screen and (max-width: 576px) {
  .motivation {
    width: 90%;
    height: 60vh;
    left: 46%;
  }
}

.motivation.show {
  display: block;
}

.motivation span {
  display: inline-block;
  margin-bottom: 5px;
  color: #FFF;
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  border: 2px solid #444;
  border-radius: 50%;
}

.motivation span:hover {
  color: #777;
}

.motivation .mot-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro {
  width: 100%;
  height: 100vh !important;
  position: relative;
}

.intro img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-section {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

@media screen and (max-width: 770px) {
  .nav-section {
    width: 60%;
  }
}

.nav-section nav {
  width: 100%;
  text-align: center;
}

.nav-section nav ul {
  padding: 20px 0;
}

@media screen and (max-width: 770px) {
  .nav-section nav ul {
    display: none;
  }
}

.nav-section nav li {
  display: inline-block;
  width: 20%;
}

.nav-section nav li a {
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid transparent;
}

.nav-section nav li a.active, .nav-section nav li a:hover {
  border-bottom: 1px solid #f98404;
}

.nav-section .info {
  margin-top: 25%;
  padding: 0 20px;
}

@media screen and (max-width: 576px) {
  .nav-section .info {
    padding-left: 25px;
    margin-top: 121%;
  }
}

@media screen and (min-width: 576px) and (max-width: 770px) {
  .nav-section .info {
    padding-left: 90px;
    margin-top: 50%;
  }
}

.nav-section .info h1 {
  color: #fff;
  text-transform: capitalize;
  font-size: 60px;
}

@media screen and (max-width: 576px) {
  .nav-section .info h1 {
    font-size: 25px;
  }
}

@media screen and (min-width: 576px) and (max-width: 914px) {
  .nav-section .info h1 {
    font-size: 40px;
  }
}

.nav-section .info q {
  color: #ccc;
  width: 90%;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  text-transform: capitalize;
  display: block;
  font-style: italic;
}

@media screen and (max-width: 770px) {
  .nav-section .info q {
    font-size: 15px;
  }
}

.nav-section .info button {
  margin-top: 40px;
  margin-right: 30px;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #f98404, #f9b208);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .nav-section .info button {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    padding: 5px 10px;
  }
  .nav-section .info button:last-child {
    margin: 0;
  }
}

@media screen and (min-width: 650px) and (max-width: 914px) {
  .nav-section .info button {
    margin-bottom: 10px;
    font-size: 13px;
    padding: 5px 10px;
  }
  .nav-section .info button:last-child {
    margin: 0;
  }
}

.nav-section .info button a {
  color: #FFF;
}

.about-us {
  width: 60%;
  margin: 200px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 770px) {
  .about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 100px auto;
  }
}

.about-us div {
  width: 48%;
}

@media screen and (max-width: 770px) {
  .about-us div {
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
  }
}

.about-us .about-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .about-info h6 {
  color: #998776;
  letter-spacing: 2px;
}

.about-us .about-info h1 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 40px;
  position: relative;
  padding-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .about-us .about-info h1 {
    font-size: 25px;
  }
}

.about-us .about-info h1::after {
  content: "";
  height: 2px;
  width: 20%;
  background: -webkit-linear-gradient(left, #f98404, #f9b208);
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-us .about-info p {
  color: #FFF;
  font-size: 15px;
  line-height: 1.5;
}

@media screen and (max-width: 576px) {
  .about-us .about-info p {
    width: 100%;
  }
}

.about-us .about-info p span {
  display: inline-block;
  color: #998776;
}

.about-us .about-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testiminiol {
  width: 70%;
  color: #fff;
  margin: 100px auto;
}

.testiminiol .swiper-container {
  height: 350px;
}

.testiminiol .swiper-container .swiper-pagination-bullet {
  border: 2px solid #FFF;
  border-radius: 50%;
}

.testiminiol .swiper-container .swiper-pagination-bullet-active {
  background: #FFF;
}

.testiminiol .swiper-slide {
  text-align: center;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.testiminiol .swiper-slide .testImg {
  width: 56%;
  height: 100%;
  position: absolute;
  left: 45%;
}

.testiminiol .swiper-slide .testImg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testiminiol .swiper-slide .opinion {
  display: block;
  position: absolute;
  z-index: 2;
  width: 60%;
  height: 115%;
  margin-left: -31px;
  margin-top: -28px;
  background-color: #222;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

@media screen and (max-width: 576px) {
  .testiminiol .swiper-slide .opinion {
    width: 69%;
  }
}

.testiminiol .swiper-slide .opinion-info {
  position: absolute;
  text-align: left;
  padding: 0 20px;
  width: 60%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}

.testiminiol .swiper-slide .opinion-info h3 {
  letter-spacing: 1px;
}

.testiminiol .swiper-slide .opinion-info h5 {
  color: #f98404;
}

.testiminiol .swiper-slide .opinion-info p {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 15px;
}

.testiminiol .swiper-slide .opinion-info .stars {
  display: block;
  margin-top: 20px;
  color: #f98404;
}

.testiminiol h6 {
  color: #998776;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.testiminiol h2 {
  color: #FFF;
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  position: relative;
}

@media screen and (max-width: 576px) {
  .testiminiol h2 {
    font-size: 25px;
  }
}

.testiminiol h2::after {
  content: "";
  height: 2px;
  width: 10%;
  margin-left: -5%;
  background: -webkit-linear-gradient(left, #f98404, #f9b208);
  position: absolute;
  bottom: 0;
  left: 50%;
}

.plans {
  min-height: 600px;
  text-align: center;
  padding: 30px 0;
}

.plans h6 {
  color: #998776;
  letter-spacing: 2px;
}

.plans h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .plans h2 {
    font-size: 25px;
  }
}

.plans h2::after {
  content: "";
  width: 5%;
  height: 2px;
  background: -webkit-linear-gradient(left, #f98404, #f9b208);
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -2.5%;
}

.plans .plans-container {
  width: 55%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .plans .plans-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 577px) and (max-width: 770px) {
  .plans .plans-container {
    width: 90%;
  }
}

.plans .plan {
  width: calc(90% /3);
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #555;
  padding: 50px 0;
}

@media screen and (max-width: 576px) {
  .plans .plan {
    width: 100%;
    margin-bottom: 20px;
  }
}

.plans .plan:nth-child(2) h4 {
  background: -webkit-linear-gradient(left, #f98404, #f9b208);
}

.plans .plan:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-color: #f98404;
}

.plans .plan h3 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.plans .plan h3 span {
  display: inline-block;
  font-size: 15px;
}

.plans .plan h3 .second {
  font-size: 12px;
}

.plans .plan h4 {
  margin-top: 20px;
  background-color: #222;
  font-size: 15px;
  color: #EEE;
  padding: 5px 0;
  margin-bottom: 40px;
}

.plans .plan p {
  color: #fff;
  padding: 15px 0;
  border-bottom: 1px solid #666;
  width: 80%;
  margin: auto;
  font-size: 13px;
}

.plans .plan p:last-child {
  border: 0;
}

.plans .plan.special {
  height: 450px;
  border-color: #f98404;
}

.offers {
  min-height: 500px;
  margin: 100px 0;
}

.offers .offers-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 576px) {
  .offers .offers-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.offers .offers-container .offers-img {
  width: 50%;
  min-height: 100%;
  position: relative;
}

@media screen and (max-width: 576px) {
  .offers .offers-container .offers-img {
    width: 100%;
  }
}

.offers .offers-container .offers-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offers .offers-container .offers-img .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.offers .offers-container .offers-info {
  width: 50%;
  height: 100%;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .offers .offers-container .offers-info {
    width: 100%;
  }
}

.offers .offers-container .offers-info .inner-info {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers .offers-container .offers-info .inner-info h6 {
  color: #998776;
  letter-spacing: 2px;
  margin-top: 30px;
}

.offers .offers-container .offers-info .inner-info h2 {
  color: #FFF;
  font-size: 30px;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 20px;
}

.offers .offers-container .offers-info .inner-info h2::after {
  content: "";
  width: 10%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(left, #f98404, #f9b208);
}

.offers .offers-container .offers-info .inner-info .feat {
  width: 100%;
  min-height: 50px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers .offers-container .offers-info .inner-info .feat img {
  width: 30px;
  height: 30px;
}

.offers .offers-container .offers-info .inner-info .feat h3 {
  margin-left: 20px;
  font-size: 16px;
  color: #FFF;
}

.offers .offers-container .offers-info .inner-info .feat p {
  margin-left: 20px;
  line-height: 1.5;
  font-size: 13px;
  margin-top: 20px;
  color: #e2e2e2;
}

.news {
  margin: 200px 0;
  min-height: 600px;
}

@media screen and (max-width: 576px) {
  .news {
    margin: 100px 0;
  }
}

.news h5 {
  color: #998776;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: bold;
}

.news h2 {
  color: #FFF;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  font-size: 40px;
}

@media screen and (max-width: 576px) {
  .news h2 {
    font-size: 25px;
  }
}

.news h2::after {
  content: "";
  width: 5%;
  height: 2px;
  background: -webkit-linear-gradient(left, #f98404, #f9b208);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.news .news-container {
  height: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 576px) {
  .news .news-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news .news-item {
  width: 20%;
  height: 500px;
  margin-right: 30px;
  background-color: #111;
}

@media screen and (max-width: 576px) {
  .news .news-item {
    width: 60%;
    margin: 0;
    margin-bottom: 20px;
    height: 400px;
  }
}

@media screen and (min-width: 577px) and (max-width: 770px) {
  .news .news-item {
    width: 30%;
    min-height: 400px;
    margin: auto;
  }
}

.news .news-item img {
  width: 100%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news .news-item .news-info {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.news .news-item .news-info h6 {
  color: #998776;
  letter-spacing: 2px;
}

.news .news-item .news-info h3 {
  color: #FFF;
}

.news .news-item .news-info p {
  font-size: 13px;
  line-height: 1.5;
  color: #CCC;
  margin-top: 20px;
}

.contact {
  height: 400px;
  position: relative;
}

.contact img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.contact .contact-info {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 770px) {
  .contact .contact-info {
    width: 90%;
  }
}

.contact .contact-info h6 {
  color: #998776;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.contact .contact-info h2 {
  color: #FFF;
  font-size: 50px;
}

@media screen and (max-width: 576px) {
  .contact .contact-info h2 {
    font-size: 25px;
  }
}

.contact .contact-info p {
  color: #CCC;
  line-height: 1.7;
  margin: 50px 0;
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .contact .contact-info p {
    font-size: 13px;
  }
}

.contact .contact-info button {
  padding: 15px 40px;
  background: rgba(3, 3, 3, 0.5);
  border-radius: 2px;
  color: #FFF;
  border: 0;
  font-weight: bolder;
  cursor: pointer;
}

.footer {
  padding: 10px 50px;
  background: -webkit-linear-gradient(left, #f98404, #f9b208);
  opacity: .8;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer::before {
  content: "";
  width: 100%;
  height: 5%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(left, #f98404, #f9b208);
}

.footer h6 {
  color: #FFF;
  font-weight: bold;
}

.footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-info p {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
}

.footer .social-media {
  text-align: center;
}

.footer .social-media i {
  color: #FFF;
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */